
/*TÍTULO*/
h1 {
  font-family: Raleway-700, sans-serif;
 }

 h3{
 	font-family: OpenSans, sans-serif;
 }

 .title-light{
 	font-family: Raleway, sans-serif;
 	
 }

/*BARRA DE NAVEGACIÓN*/

.logo-tiatomate{
	width: 250px;
	margin-left: 50px;
}

.nav-link{
	color: #707070;
	margin-right: -5px;

}

.navbar_tiatomate{
	margin-right: 50px;
}

/*HEADER*/

.header__tiatomate{
	text-align: center;
	color: #FFFFFF;
	background-color: #E56353;
	height: 300px;
	padding-top: 100px;
}

/*BLOG*/


.blog-1{
	background-color: #707070;
	color: #FFFFFF;
	text-align: center;
	box-sizing: border-box;
	padding: 30px 30px 30px 30px;
	width: 100%;

}


/*NOSOTROS*/
.nosotros__inner-top{
	background-color: #E56353;
	height: 200px;
	padding-top: 75px;
	margin-bottom: 100px;
	color: #FFFFFF;
	text-align: center;
}


.javiera-foto{
	box-sizing: border-box;
	width: 500px;
	padding: 0px 80px 80px 80px;
}

.roberto-foto{
	box-sizing: border-box;
	width: 500px;
	padding: 0px 80px 80px 80px;
}

.nosotros-texto{
	box-sizing: border-box;
	padding: 60px 0px 60px 60px;
	color: #686963;
} 
	

/*COMPRA*/
.compra{
	background-color: #E56353;
	height: 250px;
	padding-top: 50px;
	color: #FFFFFF;
	text-align: center;
}

.button_compra{
	color:#686963;
	background-color: #FFFFFF;
	border-radius: 30px;
	width: 200px;
	margin: 20px 0px 20px 0px;

}

/*FOOTER*/

.logo-tiatomate-footer{
	width: 200px;
	margin-left: 100px;
}

.footer__navigation{
	background-color: #686963;


}

.nav-link-footer{
	color: #FFFFFF;
	margin-right: 100px;
}
